@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900&display=swap');

*,
*::before,
*::after {
    padding: 0;
    margin: 0 ;
    box-sizing: border-box;
    font-family: 'Inter',sans-serif;
}

body {
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    padding: 20px;
}

.bio {
    color: white;
    margin-bottom: 10px;
}

.bio .name {
    font-weight: 700;
    margin-bottom: 10px;
}

.bio .address {
    margin-bottom: 20px;
    color: hsl(75, 94%, 57%);
    font-weight: 500;
}

.bio .description {
    font-weight: 400;
    margin-bottom: 20px;
}

.picture  img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin-bottom: 30px;
    object-fit: cover;
}


.card {
    background-color: hsl(0, 0%, 12%);
    justify-content: center;
    text-align: center;
    padding: 30px;
    width: 100%;
    max-width: 400px;
    border-radius: 12px;
}

.links {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}

.button {
    display: block;
    width: 100%;
    padding: 10px;
    border-radius: 7px;
    background-color: hsl(0, 0%, 20%);
    color: white;
    cursor: pointer;
    font-weight:400;
    text-decoration: none;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.button:hover {
    background-color: hsl(75, 94%, 57%);
    color: black;
}
